/*************************header for all****************************/

.body-box {
  box-sizing: border-box;
  margin-top: 0px;
  background-color: beige;
  width: 100vw;
  height: 100vh;
  padding: 2px;
  }

  .header {
    box-sizing: border-box;
    height: 5vh;  
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
  }
/*******************************login page*************************************/

  .header-center {
    box-sizing: border-box;
    display:"flex";
    flex:"1";
    text-align:center
  }
    .logs-block {
    
    display: flex;
    flex-direction: row;
    flex:initial;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    padding: 0.1rem;
    }
    .loginBox,
    .signupBox {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 250px;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    background-color: #c4c2c2;
    opacity: 0.8
    }
     .output-container {
      box-sizing: border-box;
      display: flex;
      width:100%;
      padding: 2px;
      justify-content: center;
      align-items: center;
     }
/***************************home*******************************/    
.nav {
  height: 10%;
  background-color: rgb(134, 121, 78);
}
.home-container {
  box-sizing: border-box;
  height:100%;
  width: 100%;
  background-color: rgb(128, 128, 128);
}
.home-header {
  box-sizing: border-box;
  height: 10%;  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2px;
  background-color: aquamarine
}
.home-output {
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  padding: 5px;
  background-color: yellow;
}




.assignment {
  box-sizing: border-box;
  background-color: skyblue;
  height: 100%;
  padding: 5px;
}

.assignment-work {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 5px;
}
.assignment-container {
  box-sizing: border-box;
  height: 100%;
  background-color: #4CAF50;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.assignment-column {
  box-sizing: border-box;
  background-color: brown;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.assignment-map {
  float: left;
  box-sizing: border-box;
  background-color: green;
  padding: 5px;
  justify-content: flex-start;
  align-items: stretch;
}

.assignment-data {
  float: right;
  background-color: yellow;
  height: 100%;
}
.inpt-box {
  padding: 2px;
}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #a09b86;
}

li {
  float: left;
}
li a {
  
  display: block;
  color: rgb(46, 44, 44);
  text-align: center;
  padding: 5px 7px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: rgb(212, 207, 176);
}
li a.active {
  color: white;
  background-color: #4CAF50;
}




